/* Fonts */
@font-face {
    font-family: "F1bold";
    src: url("fonts/Formula1-Bold.ttf");
}
@font-face {
    font-family: "F1regular";
    src: url("fonts/Formula1-Regular.ttf");
}

/* Main */
body {
    margin: 0;
    font-family: "F1regular", "Arial", sans-serif;
    font-size: 1.2rem;
    background-color: #ffffff;
    color: #000000;
}

#banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #FF1E00;
    background-size: cover;
    height: 100px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    text-align: left;
}

#banner a {
    padding: 0.5em 1rem;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s ease;
}

#banner a:hover {
    color: #000000;
}

#logo {
    width: 150px;
    max-width: 100%;
    height: auto;
}

#navtop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0;
    width: 100%;
}

#navtop a {
    font-family: "F1bold", "Arial", sans-serif;
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    position: relative;
}

#navtop a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

#navtop a:hover::after {
    width: 100%;
}

#intro {
    text-align: center;
    padding: 2rem 1rem;
    background-color: #ffe6e6;
    margin: 2rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#intro.info{
    background-color: #ffffff;
}

#deff1, #weekend-formats, #car, #pilotes {
    padding: 2rem 1rem;
    background-color: #FF1E00;
    margin: 2rem 0;
}

#deff1 h2, #weekend-formats h2, #car h2, #pilotes h2 {
    color: #000000;
    text-align: center;
    margin-bottom: 1rem;
}

#deff1 article, #weekend-formats article, .car-description {
    background-color: #ffffff;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    transition: transform 0.3s;
    border-radius: 8px;
}

.car-description{
    margin-top: 15px;
}

#deff1 article:hover, #weekend-formats article:hover, .car-description:hover {
    transform: translateY(-5px);
}

.ecu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ecu a {
    flex: 1 0 21%;
    margin: 10px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.ecu a img {
    width: auto;
    height: 100%;
    transition: transform 0.3s;
}

.ecu a:hover img {
    transform: scale(1.1);
}

.image-slider {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    max-width: 1024px;
    height: 500px;
}

.slides {
    display: flex;
    width: 300%;
    animation: slide 15s infinite;
    height: 100%;
}

.slides img {
    width: 33.333%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }
    33% {
        transform: translateX(-33.333%);
    }
    66% {
        transform: translateX(-66.666%);
    }
    100% {
        transform: translateX(0%);
    }
}

.pilotes-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.pilote {
    text-align: center;
    margin-bottom: 2rem;
    flex: 1 0 45%;
    box-sizing: border-box;
    padding: 1rem;
}

.pilote h3 {
    color: #ffffff;
    margin-bottom: 1rem;
}

.pilote p {
    background-color: #ffffff;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    transition: transform 0.3s;
    border-radius: 8px;
}

.pilote p:hover {
    transform: translateY(-5px);
}

.pilote figure {
    display: inline-block;
    margin: 0 auto 1rem auto;
    padding: 0;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.pilote figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.pilote figure:hover img {
    transform: scale(1.1);
}

.contact-form-container, .conteneur-infos {
    background-color: #e11a00;
    color: #ededed;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 900px;
}

@media screen and (max-width: 900px) {
    #banner {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 10px 0;
    }
    
    #logo-container {
        justify-content: center;
        text-align: center;
    }

    #navtop {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    #navtop a {
        margin: 5px 0;
    }

    .ecu a {
        flex: 1 0 48%;
    }

    .image-slider {
        height: 300px;
    }

    .slides img {
        width: 33.333%;
        height: 100%;
    }

    .pilotes-container {
        flex-direction: column;
        align-items: center;
    }

    .pilote {
        flex: 1 0 100%;
        max-width: 100%;
    }

    .contact-form-container, .conteneur-infos {
        width: 90%;
    }
}

@media screen and (min-width: 1024px) {
    #logo-container {
        justify-content: flex-start;
        text-align: left;
        flex: 1;
    }

    #navtop {
        justify-content: center;
        flex: 2;
    }

    .ecu a {
        flex: 1 0 21%;
    }

    .image-slider {
        max-width: 1024px;
        height: 500px;
    }

    .slides img {
        width: 33.333%;
        height: 100%;
    }
}
.contact-form-container, .conteneur-infos {
    max-width: 80%;
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #000000;
    color: #fff;
    margin-top: 2rem;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

/* Couleurs ecuries */
body.aston-martin {
    background-color: #037A68;
    color: #000000;
}

body.ferrari {
    background-color: #EF1A2D;
}

body.redbull {
    background-color: #003b8e;
}

#intro.aston-martin {
    background-color: #037A68;
    color: #ffffff;
}

#deff1.aston-martin, #car.aston-martin, #pilotes.aston-martin {
    background-color: #037A68;
    color: #000000;
}

#intro.ferrari, #deff1.ferrari, #car.ferrari, #pilotes.ferrari {
    background-color: #EF1A2D;
    color: #000000;
}

#intro.redbull {
    background-color: #003b8e;
    color: #C0BFBF;
}

#deff1.redbull, #car.redbull, #pilotes.redbull {
    background-color: #003b8e;
    color: #000000;
}

#car h2.ferrari {
    color: #FFF200;
}

#car h2.redbull {
    color: #E30118;
}

#pilotes h2.ferrari {
    color: #00A551;
}

#pilotes h2.redbull {
    color: #FDD900;
}